body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 600px;
  margin: 0px auto 0px auto;
}

@media (max-width: 600px) {

  .container {
    width: 100%;
  }

}

span.date {
  color: #999;
}

p.content {
  display: block;
}